<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
 <property file="resources/config.properties"/>
 <property name="LOG_HOME" value="${logDir}"/>
	<appender name="systemLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/systemLog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="systemLog" additivity="false" level="INFO">
		<appender-ref ref="systemLog" />
	</logger>
	<appender name="inMessageLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/inMessageLog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="inMessageLog" additivity="false" level="INFO">
		<appender-ref ref="inMessageLog" />
	</logger>
	<appender name="outMessageLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/outMessageLog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="outMessageLog" additivity="false" level="INFO">
		<appender-ref ref="outMessageLog" />
	</logger>
</configuration>  